main {
    max-width: 800px;
    margin: 40px auto;
}

p {
    margin: 2em 0;
}

p:last-child {
    margin-bottom: 0;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 40px;
}

.card p {
    margin: 0;
}

.span-two {
    grid-column: span 2;
}