main {
    max-width: 800px;
    margin: 40px auto;
}

p {
    margin: 2em 0;
}

p:last-child {
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 40px;
}

nav.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #00000077;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    transition: background-color 0.5s ease, box-shadow 0.5s ease;
}

nav.navbar:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: #0000009a;
}

a.navbar {
    font-family: "Libre Franklin", serif;
    float: center;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;

    transition: padding 0.5s ease, color 1s ease;
}

a.navbar:hover {
    background-color: black;
    font-size: 28px;
    color: aqua;
    padding: 20px;
    padding-bottom: 25px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url("https://plus.unsplash.com/premium_photo-1675371871201-f0a0b817f6f5?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YXNwaGFsdCUyMHRleHR1cmV8ZW58MHx8MHx8fDA%3D");
    height: 2000px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.card p {
    margin: 0;
}

.span-two {
    grid-column: span 2;
}

div.navbar {
    display: flex;
    gap: 80px;
}

div.slide-right {
    animation: shake-loop 1s infinite;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes shake-loop {
    0% {
        transform: rotate(-0.01turn);
    }
    50% {
        transform: rotate(0.01turn);
    } 
    100% {
        transform: rotate(-0.01turn);
    } 
}